<div>
  <input type="text" placeholder="Enter 1st No" [ngModel]="first" (ngModelChange)="onFirstChange($event)">
  <select [(ngModel)]="ops">
      <option>+</option>
      <option>-</option>
      <option>*</option>
  </select>
  <input type="text" placeholder="Enter 2nd No" [ngModel]="second" (ngModelChange)="onSecondChange($event)">
</div>
<div>
  <input type="button"
      value="Calculate"
      (click)="onCalculate()"
      [disabled]="calcDisabled"
  >
</div>
<div>
  <input type="text" [value]="ans">
</div>
<app-calc-results
  [firstNo]="first"
  [secondNo]="second"
  [ans]="ans"
  [ansCalculated]="ansCalculated"></app-calc-results>